@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  font-family: 'Italiana', serif;
  color: black;
  font-size: large;
}

div {
  font-family: 'Italiana', serif;
}

/* Navbar styled like the Gopher client */
nav {
  background-color: #ffffff;
  font-family: 'Italiana', serif;
  color: black;
  font-size: large;
}

/* Parent UL */
nav > ul {
  font-family: 'Italiana', serif;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* Navbar Items */
nav > ul > li {
  font-family: 'Italiana', serif;
  position: relative;
  padding: 0;
  margin: 0;
  /* transition: none; */
}

/* Parent Links */
nav > ul > li > a {
  font-family: 'Italiana', serif;
  font-size: x-large;
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  /* transition: none; */
}

/* Hover Effect */
nav > ul > li:hover > a {
  font-family: 'Italiana', serif;
  font-weight: bold;
  color:#aaaaaa;
  transition: color 0.3s ease-in-out;
}

nav > ul > li:hover {
  /* transition: none; */
  background-color: #ffffff;
}


/* Child UL (Hidden by default) */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style-type: none;
  min-width: 120px;
  z-index: 100;
  /* transition: none; */
  font-size:large;
}

/* Show Dropdown on Hover */
nav > ul > li:hover > ul {
  /* transition: none; */
  background-color: white;
  display: block;
}

/* Child Links */
nav ul ul li a {
  font-family: 'Italiana', serif;
  display: block;
  color: black;
  text-decoration: none;
  cursor: pointer;
  /* transition: none; */
}

nav ul li ul li a {
  font-size:large;
  padding: 0
}

nav ul ul li a:hover {
  /* transition: none; */
  color: black;
}

.App {
  background-color: white;
}

/* Main content area */
.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: black;
}

/* Title */
.title {
  font-family: 'Italiana', serif;
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

/* Date */
.date {
  font-size: large;
  color: #aaaaaa;
  margin-bottom: 0;
}

/* Body */
.content {
  font-size: large;
  line-height: 1.6;
  color: black;
}

/* Images */
.image {
  display: block;
  margin: 0;
  max-width: 100%;
  border: 2px solid black;
}

/* Footer */
.footer {
  margin-top: 0;
  text-align: center;
}

/* Buttons */
.button {
  background-color: #ffffff;
  border: 2px solid black;
  cursor: pointer;
  /* transition: none; */
}

.button:hover {
  /* transition: none; */
  background-color: #aaaaaa;
}
